<form action="/create" method="post">
	<input type="text" name="name" placeholder="name of party"></input> 
	<input type="text" name="host_name" placeholder="whos throwing this party"></input> 
	<input type="text" name="location" placeholder="location"></input> 
	<input type="submit" value="Submit This Party"></input> 
</form>